{{ 'Join Us' | t }}
<hr />
<table>
    <tr>
        <td>{{ 'Name' | t }}</td>
        <td>{{ formParams.name }}</td>
    </tr>
    <tr>
        <td>{{ 'Phone' | t }}</td>
        <td>{{ formParams.phone }}</td>
    </tr>
    <tr>
        <td>{{ 'Age' | t }}</td>
        <td>{{ formParams.age }}</td>
    </tr>
    <tr>
        <td>{{ 'Email' | t }}</td>
        <td>{{ formParams.email }}</td>
    </tr>
    <tr>
        <td>{{ 'Message' | t }}</td>
        <td>{{ formParams.message }}</td>
    </tr>
</table>
