{{ 'Sale Service Service' | t }}
<hr />
<table>
    <tr>
        <td>{{ 'Name' | t }}</td>
        <td>{{ formParams.name }}</td>
    </tr>
    <tr>
        <td>{{ 'Phone' | t }}</td>
        <td>{{ formParams.phone }}</td>
    </tr>
    <tr>
        <td>{{ 'Model' | t }}</td>
        <td>{{ formParams.model }}</td>
    </tr>
    <tr>
        <td>{{ 'Production Year' | t }}</td>
        <td>{{ formParams.year }}</td>
    </tr>
    <tr>
        <td>{{ 'Project Location' | t }}</td>
        <td>{{ formParams.location }}</td>
    </tr>
    <tr>
        <td>{{ 'Message' | t }}</td>
        <td>{{ fromParams.message }}</td>
    </tr>
</table>
