<div class="icon-title mobile-center">
    <a href="{{ node.field_link[0].url }}">
        <img class="ui middle aligned tiny left floated circular bordered image tiny-things" src="{{ node.field_main_picture.entity.fileuri | image_style('thumbnail') }}">
    </a>
</div>
<div class="description mobile-break mobile-center mb2">
    <h4 class="ui header"><a href="{{ node.field_link[0].url }}">{{ label }}</a></h4>
    {{ content.body }}
</div>

