<a href="{{ node.field_link[0].url }}">
    <img class="ui middle aligned tiny image tiny-things" data-content="{{ label[0]['#context']['value'] }}" src="{{ node.field_main_picture.entity.fileuri | image_style('thumbnail') }}">
</a>
{#<h4 class="ui header center aligned"><a href="{{ node.field_link[0].url }}">{{ label }}</a></h4>#}

