<div class="ui container">

    <h1 class="ui center aligned header pt1">{{ 'Search' | t }}</h1>
    <h5 class="ui horizontal divider header nik-red fwn">
        {{ 'Search Result' | t }}
    </h5>

    {% if header %}
        <header>
            {{ header }}
        </header>
    {% endif %}

    {% if rows|length < 1 %}
        <div class="ui container">
            <div class="no-result pt5">
                <i class="search icon very-large"></i>
                <h2 class="ui header pt2">
                    {{ 'No Result' | t }}!
                </h2>
            </div>
        </div>
    {% endif %}
    <div class="view-ctr{# mb6 mt4#}">
        {{ rows }}
        {{ empty }}
        {{ pager }}
    </div>

    {{ attachment_after }}
    {{ more }}

    {% if footer %}
        <footer>
            {{ footer }}
        </footer>
    {% endif %}

</div>
