
{% set colors = ['', 'green', 'teal', 'yellow', 'red'] %}
{% set colorcls = colors[term.id] %}
{% if (parentId) %}
    {% set colorcls = colors[parentId] %}
{% endif %}
<div class="ui blur-top" style="background: url({{ term.field_main_picture.entity.fileuri | image_style('blur_top') }});">
    <div class="ui container center aligned">
        <h1 class="ui inverted header">{{ name }}</h1>
    </div>
</div>

<div class="ui main container">

    <div class="ui text container">
        <div class="ui tiny breadcrumb">
            <a class="section" href="{{ url('<front>') }}">{{ 'Home' | t }}</a>
            <i class="right chevron icon divider"></i>
            <a class="section" href="{{ url('<front>')['#markup'] ~ '/products' }}">{{ 'Products' | t }}</a>
            <i class="right chevron icon divider"></i>
            {% if (parentName) %}
                <a class="section" href="{{ url('<front>')['#markup'] }}{{ parentName | replace({' ': '-'}) | lower }}">{{ parentName }}</a>
                <i class="right chevron icon divider"></i>
            {% endif %}
            <div class="active section">{{ name }}</div>
        </div>
        <div class="ui clearing divider"></div>
        {{ content['description'] }}

        <h5 class="ui horizontal divider header nik-red fwn">
            {{ name }}
        </h5>

        <div class="{{ colorcls }}">
            {{ drupal_view('other_things', 'block_1', term.id) }}
        </div>

        <div class="ui container font-color center aligned mt2">
            <a class="ui basic button" href="{{ url('<front>')['#markup'] ~ '/products' }}">
                {{ 'see all products' | t }}
            </a>
        </div>
    </div>
</div>


